.ContainerJsonView {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  height: 100%;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: stretch;
}

.ContainerTraditionalResumeNight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #212529;
  color: #7c868f;
  box-sizing: border-box;
  padding-left: 2px;
}

.ContainerTraditionalResumeDay {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:rgb(245, 245, 245);
  color: #212529;
  box-sizing: border-box;
  padding-left: 2px;
}

.Container b {
  font-weight: 600;
  color: #6c757d;
}