.TopBar {
  background-color: rgb(190, 190, 190);
  border-bottom: 3px solid rgb(185, 185, 185);
  margin: 0 0 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  font: 14px monospace, cursive;
  padding: 3px 3px;
  text-align: center;
}