.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  height: 100%;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: stretch;
}