.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--body-bg);
  color: #7c868f;
  box-sizing: border-box;
}

.Container b {
  font-weight: 600;
  color: #6c757d;
}