:root {
  --loading-color: #505050cc;
}

.Blue {
  --loading-color: #505050cc
}

.Gray {
  --loading-color: #969696
}

.Loading {
  display: flex;
  z-index: 0;
  width: auto;
  height: 1.5rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.Loading .Dot {
  height: 0.8rem;
  width: 0.8rem;
  z-index: 1;
  border-radius: 50%;
  background: var(--loading-color);
  margin: 0 0 0 0.4rem;
}

.Loading .Dot:first-child {
  margin: 0rem;
}

.Loading .Dot.One {
  -webkit-animation: CycleOne 1s ease-in-out infinite;
  -webkit-animation-direction: normal;
}

.Loading .Dot.Two {
  -webkit-animation: CycleTwo 1s ease-in-out infinite;
  -webkit-animation-direction: normal;
}

.Loading .Dot.Three {
  -webkit-animation: CycleThree 1s ease-in-out infinite;
  -webkit-animation-direction: normal;
}

@-webkit-keyframes CycleOne {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: var(--loading-color);
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}

@-webkit-keyframes CycleTwo {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: var(--loading-color);
    ;
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}

@-webkit-keyframes CycleThree {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: var(--loading-color);
    ;
  }
}