.Bubble {
  height: auto;
  width: auto;
  max-width: 16rem;
  border-radius: 15px;
  padding: 8px 15px;
  margin-top: 0px;
  margin-bottom: 2px;
  display: flex;
  text-align: start;
}

@media (min-width:800px) {
  .Bubble {
    max-width: none;
  }
}

.Hidden {
  display: none;
}

.Gray {
  align-items: flex-start;
  color: black;
}

.Gray .Bubble {
  background-color: #e5e5e5;
  position: relative;
}

.Gray .Bubble.PointerTail:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #e5e5e5;
  border-bottom-right-radius: 15px;
  transition: all linear 0.2s;
}

.Gray .Bubble.PointerTail:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.Gray .Bubble.TrailTail:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: -4px;
  height: 14px;
  width: 14px;
  background: #e5e5e5;
  border-radius: 50%;
  -webkit-animation: pulsateBig 1.5s infinite alternate;
  -moz-animation: pulsateBig 1.5s infinite alternate;
  -animation: pulsateBig 1.5s infinite alternate;
}

.Gray .Bubble.TrailTail:after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: -7px;
  left: -12px;
  height: 7px;
  width: 7px;
  background: #e5e5e5;
  border-radius: 50%;
  -webkit-animation: pulsateSmall 1s infinite alternate;
  -moz-animation: pulsateSmall 1s infinite alternate;
  -animation: pulsateSmall 1s infinite alternate;
}

.Blue {
  align-items: flex-end;
  color: white;
}

.Blue .Bubble {
  color: white;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.Blue .Bubble.PointerTail:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
  transition: all linear 0.2s;
}

.Blue .Bubble.PointerTail:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.Blue .Bubble.TrailTail:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -4px;
  height: 14px;
  width: 14px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-radius: 50%;
  -webkit-animation: pulsateBig 1.5s infinite alternate;
  -moz-animation: pulsateBig 1.5s infinite alternate;
  -animation: pulsateBig 1.5s infinite alternate;
}

.Blue .Bubble.TrailTail:after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: -7px;
  right: -12px;
  height: 7px;
  width: 7px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-radius: 50%;
  -webkit-animation: pulsateSmall 1s infinite alternate;
  -moz-animation: pulsateSmall 1s infinite alternate;
  -animation: pulsateSmall 1s infinite alternate;
}

@-webkit-keyframes pulsateBig {
  from {
    height: 14px;
    width: 14px;
  }
  to {
    height: 17px;
    width: 17px;
  }
}

@-moz-keyframes pulsateBig {
  from {
    height: 14px;
    width: 14px;
  }
  to {
    height: 17px;
    width: 17px;
  }
}

@keyframes pulsateBig {
  from {
    height: 14px;
    width: 14px;
  }
  to {
    height: 17px;
    width: 17px;
  }
}

@-webkit-keyframes pulsateSmall {
  from {
    height: 7px;
    width: 7px;
  }
  to {
    height: 9px;
    width: 9px;
  }
}

@-moz-keyframes pulsateSmall {
  from {
    height: 7px;
    width: 7px;
  }
  to {
    height: 9px;
    width: 9px;
  }
}

@keyframes pulsateSmall {
  from {
    height: 7px;
    width: 7px;
  }
  to {
    height: 9px;
    width: 9px;
  }
}