body {
  font-family: helvetica;
  display: flex ;
  flex-direction: column;
}

.Conversation {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
}